header {
  background-color: black;
  color: gray;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: space-between;
}

ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 
a:link {
  color: lightcoral;
}
a:visited {
  color: blue;
}
a:hover {
  color: white;
}
body {
  background-color: grey;
}
h2, h4 {
  margin: 10px;
}

.grey-text {
  background-color: black;
  color:grey;
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blacktext{
  display: flex;
}
#portfolio {
  flex-direction: row;
  justify-content: space-between;
}
form{
  padding-top: 10px;
  padding-bottom: 10px;
}
p{
  flex-direction: row;
  padding: 5px;
}
@media (max-width: 700px) {
  .grey-text{flex-direction: column;}
   ul {flex-direction: column;}
}
